<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>762321594546-5g76r92472cr3krq86flkc21j25177td.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.762321594546-5g76r92472cr3krq86flkc21j25177td</string>
	<key>API_KEY</key>
	<string>AIzaSyBE1EMhdEQ22MB3XpEW7YV-oBxFu7cN-XM</string>
	<key>GCM_SENDER_ID</key>
	<string>762321594546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cenwidev.cwitc</string>
	<key>PROJECT_ID</key>
	<string>cwitc-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>cwitc-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:762321594546:ios:8a7ea6fc7206bd28</string>
	<key>DATABASE_URL</key>
	<string>https://cwitc-mobile.firebaseio.com</string>
</dict>
</plist>